<div id="menu" class="fas fa-bars"></div>

<nav class="navbar">
	<a href="#home">accueil</a>
	<a href="#about">à propos</a>
	<a href="#service">services</a>
	<a href="#education">éducation </a>
	<a href="#portfolio">portfolio</a>
	<a href="#contact">contact</a>
</nav>

<a href="#" class="btn">télécharger CV</a>

<div class="scroll-bar"></div>